[submodule "lib/simpledblayer"]
	path = lib/simpledblayer
	url = https://github.com/mercmobily/simpledblayer
[submodule "node_modules/simpledblayer"]
	path = node_modules/simpledblayer
	url = https://github.com/mercmobily/simpledblayer.git
